Repository NOAA-EMC/UPP, pull requests merged in 2021-11, with the labels that each got.

#412 Move package config to top-level CMakeLists.txt
  CMakeLists.txt
  VERSION
  sorc/ncep_post.fd/CMakeLists.txt
Labels: enhancement, Ready for Review, No Baseline Change

#414 Make UPP for GEFSv12 can be built on both wcoss2 and other machines
  sorc/build_ncep_post.sh
Labels: NCEP implementation, Ready for Review

#418 Add HAFS related nosat post control files
  parm/makefile
  parm/postcntrl_hafs_nosat.xml
  parm/postxconfig-NT-hafs_nosat.txt
Labels: Ready for Review, Baseline Change, HAFS
