Repository NOAA-EMC/UPP, pull requests merged in 2022-11, with the labels that each got.

#582 Miscellaneous GSL updates
  parm/fv3lam_rrfs.xml
  parm/post_avblflds.xml
  parm/postxconfig-NT-fv3lam_rrfs.txt
  sorc/ncep_post.fd/CALHEL3.f
  sorc/ncep_post.fd/CALUPDHEL.f
  sorc/ncep_post.fd/INITPOST_NETCDF.f
  sorc/ncep_post.fd/SURFCE.f
Labels: Ready for Review, Baseline Change, RRFS, 3DRTMA

#588 update readme with github discussions link
  README.md
Labels: documentation, Ready for Review, No Baseline Change

#589 Add MERRA2 aerosol fields as GFS V17 products
  parm/global_1x1_paramlist_g2
  parm/postcntrl_gfs.xml
  parm/postcntrl_gfs_f00.xml
  parm/postcntrl_gfs_f00_two.xml
  parm/postcntrl_gfs_two.xml
  parm/postxconfig-NT-GFS-F00-TWO.txt
  parm/postxconfig-NT-GFS-F00.txt
  parm/postxconfig-NT-GFS-TWO.txt
  parm/postxconfig-NT-GFS.txt
  scripts/exgfs_atmos_nceppost.sh
Labels: Ready for Review, Baseline Change, GFSV17/GEFSV13

#593 Enable output of smoke and dust variables from RRFS
  parm/fv3lam_rrfs.xml
  parm/post_avblflds.xml
  parm/post_avblflds_raphrrr.xml
  parm/postxconfig-NT-3drtma.txt
  parm/postxconfig-NT-fv3lam_rrfs.txt
  parm/postxconfig-NT-hrrr.txt
  parm/postxconfig-NT-rap.txt
  scripts/exgfs_atmos_nceppost.sh
  sorc/ncep_post.fd/ALLOCATE_ALL.f
  sorc/ncep_post.fd/CALPW.f
  sorc/ncep_post.fd/CLDRAD.f
  sorc/ncep_post.fd/DEALLOCATE.f
  sorc/ncep_post.fd/INITPOST_NETCDF.f
  sorc/ncep_post.fd/MDL2P.f
  sorc/ncep_post.fd/MDLFLD.f
  sorc/ncep_post.fd/SURFCE.f
  sorc/ncep_post.fd/VRBLS2D_mod.f
  sorc/ncep_post.fd/VRBLS4D_mod.f
Labels: Ready for Review, Baseline Change, RRFS, 3DRTMA
