Repository NOAA-EMC/UPP, pull requests merged in 2023-10, with the labels that each got.

#795 RRFS: enable output of miscellaneous fields
  parm/fv3lam_rrfs.xml
  parm/post_avblflds.xml
  parm/postxconfig-NT-fv3lam_rrfs.txt
  sorc/ncep_post.fd/UPP_PHYSICS.f
Labels: Ready for Review, Baseline Change, RRFS

#797 Bug fixes in UPP
  sorc/ncep_post.fd/MDLFLD.f
  sorc/ncep_post.fd/SURFCE.f
Labels: bug, Ready for Review, GFSV17

#802 Update modulefile for wcoss2, hera and orion with crtm/2.4.0.1
  modulefiles/post/post_hera.lua
  modulefiles/post/post_orion.lua
  modulefiles/post/post_wcoss2.lua
  modulefiles/upp/upp_hera.lua
  modulefiles/upp/upp_orion.lua
  modulefiles/upp/upp_wcoss2.lua
Labels: GFSV16

#798 Bug fixes to GSL precip type as applied for RRFS
  sorc/ncep_post.fd/SURFCE.f
Labels: Ready for Review, Baseline Change, RRFS

#800 Adding another flavour of VIL to RRFS for FAA users.
  parm/fv3lam_rrfs.xml
  parm/postxconfig-NT-fv3lam_rrfs.txt
  parm/postxconfig-NT-gefs-aerosol.txt
  sorc/ncep_post.fd/ALLOCATE_ALL.f
  sorc/ncep_post.fd/DEALLOCATE.f
  sorc/ncep_post.fd/INITPOST_NETCDF.f
  sorc/ncep_post.fd/MDLFLD.f
  sorc/ncep_post.fd/VRBLS3D_mod.f
Labels: Ready for Review, Baseline Change, RRFS

#805 Update .readthedocs.yaml w/newly required fields
  .readthedocs.yml
  docs/conf.py
  docs/requirements.txt
Labels: bug, documentation, Ready for Review, No Baseline Change

#808 RRFS: enable HAILCAST output
  parm/fv3lam_rrfs.xml
  parm/postxconfig-NT-fv3lam_rrfs.txt
  sorc/ncep_post.fd/INITPOST_NETCDF.f
  sorc/ncep_post.fd/MDL2AGL.f
Labels: Ready for Review, Baseline Change, RRFS

#780 Jenkins RT Pipeline
  ci/Jenkinsfile
  ci/rt-status.py
  ci/rt.sh
  tests/logs/rt.log.HERA
  tests/logs/rt.log.ORION
Labels: enhancement, Ready for Review, No Baseline Change, Jenkins-run-RT

#810 Bug fix for invalid land categories in CRTM
  sorc/ncep_post.fd/CALRAD_WCLOUD_newcrtm.f
Labels: bug, Ready for Review, Baseline Change, RRFS, Jenkins-run-RT

#811 Adds more precision for ASNOW and PRATE for RRFS
  parm/fv3lam_rrfs.xml
  parm/postxconfig-NT-fv3lam_rrfs.txt
Labels: Ready for Review, Baseline Change, RRFS, Jenkins-run-RT
