Repository NOAA-EMC/UPP, pull requests merged in 2024-06, with the labels that each got.

#968 Bug fix for QPFARI and QPFFFG encoding in RRFS
  modulefiles/wcoss2.lua
  parm/post_avblflds.xml
  parm/postxconfig-NT-rrfs.txt
  parm/postxconfig-NT-rrfs_subh.txt
  parm/rrfs_postcntrl.xml
  parm/rrfs_postcntrl_subh.xml
  sorc/ncep_post.fd/CALPW.f
  sorc/ncep_post.fd/CLDRAD.f
  sorc/ncep_post.fd/SURFCE.f
  sorc/ncep_post.fd/grib2_module.f
Labels: RRFS

#959 Fix for hydrostatic runs - write out Omega and HGT from model output
  sorc/ncep_post.fd/INITPOST_NETCDF.f
  tests/logs/rt.log.HERA
  tests/logs/rt.log.HERCULES
Labels: Ready for Review, No Baseline Change, SFSV1

#979 Sync the RRFS hotfix #967 and #968.
  modulefiles/wcoss2.lua
  parm/post_avblflds.xml
  parm/postxconfig-NT-rrfs.txt
  parm/postxconfig-NT-rrfs_subh.txt
  parm/rrfs_postcntrl.xml
  parm/rrfs_postcntrl_subh.xml
  sorc/ncep_post.fd/CALPW.f
  sorc/ncep_post.fd/CLDRAD.f
  sorc/ncep_post.fd/SURFCE.f
  sorc/ncep_post.fd/grib2_module.f
  sorc/ncep_post.fd/io_int_stubs.f
  tests/logs/rt.log.HERA
  tests/logs/rt.log.HERCULES
Labels: Ready for Review, Baseline Change, RRFS

#974 UPP bugfixes for inline post and g2tmpl 1.12.0 compatibility (and number concentration updates)
  parm/hrrr_postcntrl.xml
  parm/makefile
  parm/nam_post_avblflds.xml
  parm/ngac_post_avblflds.xml
  parm/post_avblflds.xml
  parm/post_avblflds_raphrrr.xml
  parm/postcntrl_hafs_ar_nosat.xml
  parm/postcntrl_hafs_ar_nosat_l65.xml
  parm/postxconfig-NT-hafs_ar_nosat.txt
  parm/postxconfig-NT-hafs_ar_nosat_l65.txt
  parm/postxconfig-NT-hrrr.txt
  parm/postxconfig-NT-rap.txt
  parm/postxconfig-NT-rrfs.txt
  parm/rap_postcntrl.xml
  parm/rrfs_postcntrl.xml
  sorc/ncep_post.fd/DEALLOCATE.f
  sorc/ncep_post.fd/MDL2P.f
  sorc/ncep_post.fd/grib2_module.f
  tests/logs/rt.log.HERA
  tests/logs/rt.log.HERCULES
Labels: enhancement, Ready for Review, No Baseline Change
