Repository NOAA-EMC/UPP, pull requests merged in 2025-07, with the labels that each got.

#1259 Turn off native level output in REFS
  parm/rrfs/postxconfig-NT-refs.txt
  parm/rrfs/postxconfig-NT-refs_f00.txt
  parm/rrfs/postxconfig-NT-refs_f01.txt
  parm/rrfs/refs_postcntrl.xml
  parm/rrfs/refs_postcntrl_f00.xml
  parm/rrfs/refs_postcntrl_f01.xml
Labels: Ready for Review, RRFS

#1269 Add REFS f00 native level output
  parm/rrfs/postxconfig-NT-refs_f00.txt
  parm/rrfs/refs_postcntrl_f00.xml
Labels: Ready for Review, RRFS, Ready for commit queue

#1279 Create UPP control files for GCAFS
  parm/gcafs/postcntrl_gcafs.xml
  parm/gcafs/postxconfig-NT-gcafs.txt
  parm/gefs/postcntrl_gefs_chem.xml
  parm/makefile
  tests/logs/rt.log.HERCULES_intel
  tests/logs/rt.log.ORION_intel
  tests/logs/rt.log.URSA_intel
  tests/logs/rt.log.URSA_intelllvm
  tests/logs/rt.log.WCOSS2_intel
Labels: Ready for Review, No Baseline Change, GCAFS
